.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }

body {
    font-size: 14px;
    font-family: "Roboto Condensed";
    color: white;
    background-color: black;
}

.taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
}

.taskbar h2 {
    margin: 0;
}

.taskbar h3 {
    margin: 0 15px;
}

/* Centering the list */
.taskbar h2 {
    flex: 1; /* Pushes other items to the right */
}

.taskbar h3 {
    display: inline-block;
}

.taskbar taskbar-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
}


.website-content{
    width: 75%;
    margin: auto;
}