.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }

body {
    font-size: 14px;
    font-family: "Roboto Condensed";
    color: white;
    background-color: rgb(18, 18, 18);
}

.taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px 20px;
}

.taskbar h2 {
    margin: 0;
}

.taskbar h3 {
    margin: 0 15px;
}

/* Centering the list */
.taskbar h2 {
    flex: 1; /* Pushes other items to the right */
}

.taskbar h3 {
    display: inline-block;
}

.taskbar taskbar-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
}

.website-content{
    width: 75%;
    margin: auto;
}

.website-body{
    width: 50%;
    margin: auto;
    margin-top: 65px;
}

.heading h4{
    font-weight: 150;
    color: darkgrey;
}

.my-skills {
    margin-top: 50px;
}

.work-experience {
    margin-top: 50px;

}

.project-preview {
    margin-top: 50px;
}

ul {
    display: block;
    border-left: 2px solid white;
    padding-left: 8.8px;
}