body{
    font-family: "Karla";
    padding: 35px 50px;
}

.corinthia-regular{
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
}

.karla{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  
.home-text{
    text-align: center;
}

.home-text h2{
    font-family: "Corinthia", cursive;
    font-size: 600%;
}

.home-text p{
    font-size: 200%;
    color: grey
}

.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskbar h1 {
    margin: 0;
    font-size: 24px;
}

.taskbar ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between list items */
    margin: 0;
    padding: 0;
    color: grey
}

.project-bar{
    width: 20%;
    border-right: 2px solid black
}

.recent-project{
    border-top: 2px solid black
}