.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
}
 
.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #F6F1DE;
}

.top-page{
    background-image: linear-gradient(180deg, #8AB2A6, #ACD3A8);
    border-bottom-right-radius: 245px;
    border-bottom-left-radius: 245px;
    height: 320px;
}

.custom-taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    color: white;
    border-bottom: 2px solid white;
}

.custom-taskbar h1 {
    font-size: 24px;
}

.custom-taskbar ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between list items */
}

.custom-taskbar ul li {
    cursor: pointer;
    font-size: 18px;
}

.home-header {
    text-align: center;
}

.home-header h2{
    font-family: "Bagel Fat One";
    font-size: 400%;
    color: #3E3F5B;
}

.home-header h3{
    font-family: "Passions Conflict";
    font-size: 250%;
    color: white;
}

.main-body{
    font-size: 16;
    text-align: center;
    margin: 50px;
}

.footer{
    text-align: center;
}