.schibsted-grotesk {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: "Schibsted Grotesk";
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 2px solid grey;
}

.navigation-bar h2{
    margin: 0px;
}

.navigation-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 50px;
}

.website-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 150%;
}

.main-content{
    text-align: center;
}