body{
    background-color: black;
}

.website-content{
    background-color: black;
    color: white;
}

.navigation-bar{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    background-color: black;
    border-bottom: 3px solid white;
}

.navigation-bar li{
    list-style: none;
    display: inline-block;
    margin-top: 2px;
    padding: 7px;
}
