body{
    background-color: black;
    color: white;
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navigation-bar h2{
    margin: 0px;
}

.navigation-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 23px;
    padding-right: 50px;
}